.contact-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.my-contact {
    width: 240px;
    height: 240px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-image {
    width: 170px;
    height: 160px;
}