.my-passions {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.passion-box {
    width: 350px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.passion-image {
    width: 225px;
    height: 160px;
}